@page "/help"

<h2>Navigation</h2>
<div>
    <p>
        First I highly recommend you look at some historical screens below with a few notes to get some perspective.
    </p>
</div>

<div>
    <p>Hopefully with the backround above you will be better prepared to tackle Notes 2021 Navigation.  In many ways it is easier since navigation is by click or touch.</p>

    <p>Here is an image of the navigatioon links at the top and bottom of each note.</p>

    <img src="images/Notes2020Beta1Nav1.PNG" />

    <ul>
        <li>Index - returns you to the index of the NoteFile which lists the base notes.</li>
        <li>Next Base - takes you to the next base note in the current NoteFile.</li>
        <li>Previous Base - takes you to the previous base note in the current NoteFile.</li>
        <li>Next - takes you to the next response if any or base note base note in the current NoteFile.</li>
        <li>Previous - takes you to the previous response if any or base note base note in the current NoteFile.</li>
        <li>New Response - takes you to the notes editor to write a response. This option may not appear if you do not have permission to write notes.</li>
        <li>Edit - Edit the note/resopnse (if permitted)</li>
        <li>Delete - Delete the note/resopnse (if permitted)</li>
    </ul>

    <p>Keyboard short cuts: Press F1 to see the short cut keys for a given page.</p>


    <p>Other links that appear should be pretty obvious.</p>

    <p>
        Notes about help using Notes 2021 can be found in NoteFile <a href="NoteDisplay/Enter/noteshelp">noteshelp</a>.
    </p>
</div>


<hr />

<h2>Screens with notes:</h2>

<h3>
    NovaNET Notes
</h3>

<p>Main Notes Index</p>

<img src="images/NotesMain.png" />

<p>Index of a Notesfile</p>

<img src="images/NotesIndex.png" />

<p>A Sample Note</p>

<img src="images/Note.png" />

<p>Notesfile Index Help Page 1. The next three images describe how note were navigated on NovaNET.</p>

<img src="images/NotesHelp1.png" />

<p>Notesfile Index Help Page 2</p>

<img src="images/NotesHelp2.png" />

<p>Notesfile Index Help Page 3</p>

<img src="images/NotesHelp3.png" />

<p>Note Help Page 1.  The next three images describe navigation while reading a note.</p>

<img src="images/NoteHelp1.png" />

<p>Note Help Page 2.</p>

<img src="images/NoteHelp2.png" />

<p>Note Help Page 3.  The big graphical summary of navigation/</p>

<img src="images/NoteHelp3.png" />

<p>Notesfile Director Options Index</p>

<img src="images/DirOptIndex.png" />

<p>Notesfile Access Control Options Index</p>

<img src="images/AccessOpts.png" />

<p>Editing an Acess List.  Controlling what rights users and sets of users have.</p>

<img src="images/AccesssEdit.png" />

<p>Notes Sequence page</p>

<img src="images/NotesSEQU.png" />

<p>Notes Sequence By Pass Options Page</p>

<img src="images/NotesSEQUByPass.png" />


<h3>PLATO Notes</h3>
<p>First was the "Press NEXT to begin" page.  Idle terminals would display this screen awaiting a user</p>

<img src="images/NextToBegin.png" />

<p>
    After NEXT (Return/Enter) is pressed the login process starts.  This was known as the<br />
    "Clock Page".  This is how it was in 1973  except the "CYBIS" has replaced "PLATO".
</p>

<img src="images/Login1.png" />

<p>
    Next comes the "group" page.  Groups were originally known as courses. <br />
    They hold a collection of logins, usually associated with say a university course.
</p>

<img src="images/Login2.png" />

<p>Finally a passord is required.  A radom number of X's are displayed for each keypress.</p>

<img src="images/Login3.png" />

<p>
    The next page depends on the type of user type the user is assigned.<br />
    These include "student", "instructor", "author", and "multiple". <br />
    Students were limited inn what "lesson" or program they could use under the control of<br />
    an "instructor."  We will not concern ourselves with "multiple".<br />
    "Author"s were take to the screen (a lesson really) from which they<br />
    could use any lesson/program/file on the system.
</p>

<img src="images/Amode.png" />

<p>
    As a short cut on the "AUTHOR MODE" page pressing SHIFT-N would take the<br />
    author to the main notes index page.
</p>

<img src="images/CNIndex.png" />

<p>
    A specific notes file could be directly entered from AUTHOR MODE by typing<br />
    its name.  Here for example we see he main index of "pad".
</p>

<img src="images/PadIndex.png" />

<p>Below is shown a base or root note.  In this case number 49.</p>

<img src="images/BaseNote.png" />

<p>Next a Response to the base note.</p>

<img src="images/ResponseNote.png" />

<hr />
<p>
    I'm not going to talk about the original key bindings for Navigation.  They were redone on<br />
    NovaNET in about 1990 with a complete Notes rewrite.  We have looked at sample images above which<br />
    show the NovaNET Notes keybindings.
</p>
<hr />
