@page "/schema"

<h2>Notes 2021 Database Schema</h2>

<p><img src="images/Diag1.PNG" /></p>
<p><img src="images/Diag2.PNG" /></p>
<p><img src="images/Notes2019Identity.png" /></p>
<p><img src="images/Notes2019Jobs.png" /></p>


