@*/*--------------------------------------------------------------------------
    **
    **  Copyright (c) 2019, Dale Sinder
    **
    **  Name: Preferences.cshtml
    **
    **  Description:
    **      Set User preferences
    **
    **  This program is free software: you can redistribute it and/or modify
    **  it under the terms of the GNU General Public License version 3 as
    **  published by the Free Software Foundation.
    **
    **  This program is distributed in the hope that it will be useful,
    **  but WITHOUT ANY WARRANTY; without even the implied warranty of
    **  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    **  GNU General Public License version 3 for more details.
    **
    **  You should have received a copy of the GNU General Public License
    **  version 3 along with this program in file "license-gpl-3.0.txt".
    **  If not, see <http://www.gnu.org/licenses/gpl-3.0.txt>.
    **
    **--------------------------------------------------------------------------
    */*@

@model Notes2021Blazor.Shared.UserData

@{
    ViewData["Title"] = "Preferences";
}

<h2>Preferences</h2>

<form asp-action="Preferences">
    <div class="form-horizontal">
        <h4>Application User Preferences</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="UserId" />

        <div class="form-group">
            <div class="ml-md-auto col-md-10">
                <div class="checkbox">
                    <input asp-for="Pref1" />
                    <label asp-for="Pref1"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="ml-md-auto col-md-10">
                <div class="checkbox">
                    <input asp-for="Pref2" />
                    <label asp-for="Pref2"></label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="MyStyle" class="col-md-2 col-form-label"></label>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.MyStyle, 20, 30, new { style = "form-control width: 300px;" })

                <span asp-validation-for="MyStyle" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="ml-md-auto col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
        <br />
        <strong class="col-md-2">Default Style to copy parts from</strong>
        <div class="col-md-10"><textarea id="defaultstyle" rows="20" , cols="30">@ViewBag.DefaultStyle</textarea></div>


        <div class="form-group">
            <div class="ml-md-auto col-md-10">
                <div class="checkbox">
                    <input type="hidden" asp-for="Pref3" />
                    <label hidden asp-for="Pref3"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="ml-md-auto col-md-10">
                <div class="checkbox">
                    <input type="hidden" asp-for="Pref4" />
                    <label hidden asp-for="Pref4"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="ml-md-auto col-md-10">
                <div class="checkbox">
                    <input type="hidden" asp-for="Pref5" />
                    <label hidden type="hidden" asp-for="Pref5"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="ml-md-auto col-md-10">
                <div class="checkbox">
                    <input type="hidden" asp-for="Pref6" />
                    <label hidden asp-for="Pref6"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="ml-md-auto col-md-10">
                <div class="checkbox">
                    <input type="hidden" asp-for="Pref7" />
                    <label hidden asp-for="Pref7"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="ml-md-auto col-md-10">
                <div class="checkbox">
                    <input type="hidden" asp-for="Pref8" />
                    <label hidden asp-for="Pref8"></label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label hidden asp-for="Ipref2" class="col-md-2 col-form-label"></label>
            <div class="col-md-10">
                <input type="hidden" asp-for="Ipref2" class="form-control" />
                <span asp-validation-for="Ipref2" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label hidden asp-for="Ipref3" class="col-md-2 col-form-label"></label>
            <div class="col-md-10">
                <input type="hidden" asp-for="Ipref3" class="form-control" />
                <span asp-validation-for="Ipref3" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label hidden asp-for="Ipref4" class="col-md-2 col-form-label"></label>
            <div class="col-md-10">
                <input type="hidden" asp-for="Ipref4" class="form-control" />
                <span asp-validation-for="Ipref4" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label hidden asp-for="Ipref5" class="col-md-2 col-form-label"></label>
            <div class="col-md-10">
                <input type="hidden" asp-for="Ipref5" class="form-control" />
                <span asp-validation-for="Ipref5" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label hidden asp-for="Ipref6" class="col-md-2 col-form-label"></label>
            <div class="col-md-10">
                <input type="hidden" asp-for="Ipref6" class="form-control" />
                <span asp-validation-for="Ipref6" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label hidden asp-for="Ipref7" class="col-md-2 col-form-label"></label>
            <div class="col-md-10">
                <input type="hidden" asp-for="Ipref7" class="form-control" />
                <span asp-validation-for="Ipref7" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label hidden asp-for="Ipref8" class="col-md-2 col-form-label"></label>
            <div class="col-md-10">
                <input type="hidden" asp-for="Ipref8" class="form-control" />
                <span asp-validation-for="Ipref8" class="text-danger" />
            </div>
        </div>


    </div>
</form>

<div>
    <a asp-action="Index">Home</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script>
        document.getElementById('MyStyle').style.width = "600px";
        document.getElementById('defaultstyle').style.width = "600px";
    </script>
}
