@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This site requires cookies to function properly.</p>

<p>Your login may be deleted by you at any time.  If you choose to delete your login
    all notes you have written will also be deleted along with any notefiles you own.
    To delete your login click on your name on the upper right hand corner of the page,
    select the Personal data tab, then select Delete.
</p>
<p>
    You may view or download all notes you have written in any file by going to the index
    of that file and selecting <strong>Mark Mine</strong> from the menu.
</p>
<p>

    No promise is made to retain the data.  Items you write can be seen by others according
    to the access controls set at a given time.  These controls can be adjusted by the file owner at any time.
</p>
<p>Opinoins expressed are solely those of the note author and not the adminstrator(s) of the system.</p>
