@*/*--------------------------------------------------------------------------
    **
    **  Copyright (c) 2019, Dale Sinder
    **
    **  Name: Edit.cshtml
    **
    **  Description:
    **      Edit a SQLFile
    **
    **  This program is free software: you can redistribute it and/or modify
    **  it under the terms of the GNU General Public License version 3 as
    **  published by the Free Software Foundation.
    **
    **  This program is distributed in the hope that it will be useful,
    **  but WITHOUT ANY WARRANTY; without even the implied warranty of
    **  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    **  GNU General Public License version 3 for more details.
    **
    **  You should have received a copy of the GNU General Public License
    **  version 3 along with this program in file "license-gpl-3.0.txt".
    **  If not, see <http://www.gnu.org/licenses/gpl-3.0.txt>.
    **
    **--------------------------------------------------------------------------
    */*@

@model Notes2021Blazor.Shared.SQLFile

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

@{
    string url = "/File/GetById/" + Model.FileId;
}


<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>SQLFile</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="FileId" />
        <input type="hidden" asp-for="ContentType" />
        <input type="hidden" asp-for="Contributor" />
        <input type="hidden" asp-for="FileName" />
        <div class="form-group">
            <label asp-for="Comments" class="col-md-2 col-form-label"></label>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Comments, 10, 80, null)
                @*<input asp-for="Comments" class="form-control" />*@
                @* ReSharper disable once Html.TagShouldNotBeSelfClosed *@
                <span asp-validation-for="Comments" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="ml-md-auto col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<p><img src="@url" /></p>


@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
