/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 12px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/* ReSharper disable once DeclarationIsEmpty */
.form-horizontal
{}

/* ReSharper disable once DeclarationIsEmpty */
.dl-horizontal {}
.border-top {
    border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    /* ReSharper disable once RequiresFallbackColor */
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 99.8%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: white;
}


/****************/

.large {
    font-size: 200%;
}

.medium {
    font-size: 140%;
}

.keep-right {
    float: right;
}

.keep-center {
    text-align: center;
}

.short-input {
    width: 280px;
}

.long-input {
    width: 1000px;
}

.expanded {
    font-weight: bolder;
}

iframe.loginclock {
    position: fixed;
    top: 300px;
    right: 50px;
}


.svgwhite {
    filter: invert(1);
}

/*begin this user custom section */

/* message box in main index*/
.sysmessage {
    margin-top: -20px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    color: inherit;
    background-color: #eee;
    border-radius: 16px;
}

/*various main index boxes*/
.roundedgray {
    margin: 8px;
    padding: 8px;
    background-color: #eee;
    border-radius: 6px;
}

/*main index input area */
.roundedgrayindexinput {
    margin: 16px;
    padding: 16px;
    padding-left: 30px;
    background-color: #cde;
    border-radius: 6px;
}

/*notes index input spec area*/
div.arrow1 {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 150px;
    font-size: 80%;
    border: 3px solid #A37D21;
    background-color: lightgray;
    border-radius: 6px;
    z-index: 3;
}

/*notes display input spec area*/
div.arrow2 {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 245px;
    font-size: 80%;
    border: 3px solid #73AD21;
    background-color: lightgray;
    border-radius: 6px;
    z-index: 3;
}

/*notes index and display menu bar*/
.notesmenu {
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: #555;
}

    /*notes index and display menu bar*/
    .notesmenu a {
        color: #eee;
    }

    .notesmenu strong {
        color: #eee;
    }

/*notes index and display menu bar*/
.noteindex {
    background-color: #eee;
}

/*note display header area*/
.noteheader {
    padding: 8px;
    background-color: #eee;
    border-radius: 6px;
}

/*note display body/content area*/
.notebody {
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: #eee;
    border-radius: 6px;
}

/* File dropdown on home page */
.btn-file {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}

    .btn-file:focus,
    .btn-file.focus {
        color: #fff;
        background-color: #31b0d5;
        border-color: #1b6d85;
    }

    .btn-file:hover {
        color: #fff;
        background-color: #31b0d5;
        border-color: #269abc;
    }

    .btn-file:active,
    .btn-file.active,
    .open > .dropdown-toggle.btn-file {
        color: #fff;
        background-color: #31b0d5;
        border-color: #269abc;
    }

        .btn-file:active:hover,
        .btn-file.active:hover,
        .open > .dropdown-toggle.btn-file:hover,
        .btn-file:active:focus,
        .btn-file.active:focus,
        .open > .dropdown-toggle.btn-file:focus,
        .btn-file:active.focus,
        .btn-file.active.focus,
        .open > .dropdown-toggle.btn-file.focus {
            color: #fff;
            background-color: #269abc;
            border-color: #1b6d85;
        }

    .btn-file:active,
    .btn-file.active,
    .open > .dropdown-toggle.btn-file {
        background-image: none;
    }

    .btn-file.disabled,
    .btn-file[disabled],
    fieldset[disabled] .btn-file,
    .btn-file.disabled:hover,
    .btn-file[disabled]:hover,
    fieldset[disabled] .btn-file:hover,
    .btn-file.disabled:focus,
    .btn-file[disabled]:focus,
    fieldset[disabled] .btn-file:focus,
    .btn-file.disabled.focus,
    .btn-file[disabled].focus,
    fieldset[disabled] .btn-file.focus,
    .btn-file.disabled:active,
    .btn-file[disabled]:active,
    fieldset[disabled] .btn-file:active,
    .btn-file.disabled.active,
    .btn-file[disabled].active,
    fieldset[disabled] .btn-file.active {
        background-color: #5bc0de;
        border-color: #46b8da;
    }

    .btn-file .badge {
        color: #5bc0de;
        background-color: #fff;
    }

/* Title dropdown on home page*/
.btn-title {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

    .btn-title:focus,
    .btn-title.focus {
        color: #fff;
        background-color: #286090;
        border-color: #122b40;
    }

    .btn-title:hover {
        color: #fff;
        background-color: #286090;
        border-color: #204d74;
    }

    .btn-title:active,
    .btn-title.active,
    .open > .dropdown-toggle.btn-title {
        color: #fff;
        background-color: #286090;
        border-color: #204d74;
    }

        .btn-title:active:hover,
        .btn-title.active:hover,
        .open > .dropdown-toggle.btn-title:hover,
        .btn-title:active:focus,
        .btn-title.active:focus,
        .open > .dropdown-toggle.btn-title:focus,
        .btn-title:active.focus,
        .btn-title.active.focus,
        .open > .dropdown-toggle.btn-title.focus {
            color: #fff;
            background-color: #204d74;
            border-color: #122b40;
        }

    .btn-title:active,
    .btn-title.active,
    .open > .dropdown-toggle.btn-title {
        background-image: none;
    }

    .btn-title.disabled,
    .btn-title[disabled],
    fieldset[disabled] .btn-title,
    .btn-title.disabled:hover,
    .btn-title[disabled]:hover,
    fieldset[disabled] .btn-title:hover,
    .btn-title.disabled:focus,
    .btn-title[disabled]:focus,
    fieldset[disabled] .btn-title:focus,
    .btn-title.disabled.focus,
    .btn-title[disabled].focus,
    fieldset[disabled] .btn-title.focus,
    .btn-title.disabled:active,
    .btn-title[disabled]:active,
    fieldset[disabled] .btn-title:active,
    .btn-title.disabled.active,
    .btn-title[disabled].active,
    fieldset[disabled] .btn-title.active {
        background-color: #337ab7;
        border-color: #2e6da4;
    }

    .btn-title .badge {
        color: #337ab7;
        background-color: #fff;
    }

.bigpix {
    background-image: url("adventure-alpine-background-smaller.jpg");
    background-color: #dddddd;
}

.bolderface {
    font-weight: bold;
}

/* end user custom section */
