@*/*--------------------------------------------------------------------------
    **
    **  Copyright (c) 2019, Dale Sinder
    **
    **  Name: Error.cshtml
    **
    **  Description:
    **      Show Error message
    **
    **  This program is free software: you can redistribute it and/or modify
    **  it under the terms of the GNU General Public License version 3 as
    **  published by the Free Software Foundation.
    **
    **  This program is distributed in the hope that it will be useful,
    **  but WITHOUT ANY WARRANTY; without even the implied warranty of
    **  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    **  GNU General Public License version 3 for more details.
    **
    **  You should have received a copy of the GNU General Public License
    **  version 3 along with this program in file "license-gpl-3.0.txt".
    **  If not, see <http://www.gnu.org/licenses/gpl-3.0.txt>.
    **
    **--------------------------------------------------------------------------
    */*@

@*@using Microsoft.ApplicationInsights*@
@{
    ViewData["Title"] = "File Error";

    //TelemetryClient telemetry = new TelemetryClient();
    //telemetry.InstrumentationKey = Notes2017.App_Code.Globals.InstKey;
    //telemetry.TrackEvent("File Error: " + ViewBag.Message);
}


<h1 class="text-danger">File Error</h1>
<h2 class="text-danger">@ViewBag.Message</h2>
<button onclick="goBack()">Go Back</button>

<script>
function goBack() {
    window.history.back();
}
</script>