@inject IModalService ModalService
@inject NavigationManager NavigationManager

<div class="roundedgrayindexinput modal-body">
    <h3>Completed!</h3>
    <br/>
    <button type="button" @onclick="Ok">Ok</button>
</div>

@code{

    private void Ok()
    {
        ModalService.Close(ModalResult.Ok<string>("Ok"));
        NavigationManager.NavigateTo(Notes2021Blazor.Client.Globals.RootUri, true);
    }
}