@using Notes2021Blazor.Shared

    <p class="notesmenu">
        <a href="/notes/main/@Model.noteFile.Id">Listing</a>
        @*&nbsp;&nbsp;&nbsp;&nbsp;<a href="/notes/nextbase/@Model.noteFile.Id">Next Base</a>*@

        <span class="keep-right as-link-color">Z for HELP&nbsp;&nbsp;&nbsp;</span>
    </p>

@code {
    [Parameter] public NoteDisplayIndexModel Model { get; set; }
    [Parameter] public EventCallback<string> OnClick { get; set; }
}
