@inject IModalService ModalService

<div class="roundedgrayindexinput modal-body">
    <h3>Note List Help</h3>
    <p>
        <b>L</b> - list of NoteFiles.<br />
        <b>N</b> - write a new base note.<br />
        <b>S</b> - search options.<br />
        <b>H</b> - Show/Download file as Html.<br />
        <b>h</b> - Show/Download file as alternate Html.<br />
        <b>m</b> - mail NotesFile as Html.<br />
        <b>X</b> - Export the file.<br />
        <b>M</b> - Mark My notes for Output. <br />
        <b>O</b> - Output Marked Notes.<br />
        <b>A</b> - edit the access controls.<br />
        <b>a</b> - To select an archive.<br />
        Click the <b>+</b> in front of notes with responses to see base note headers<br />
        Click the <b>></b> in front of expanded base notes/responses to see contents.<br /><br />
        In the brown input box:<br />
        Type a number and press <b>RETURN/ENTER</b> to display that note number.<br />
        You may go to a response by typing the <b>noteNumber.responseNumbe</b>r and pressing <b>RETURN/ENTER</b>.
    </p>
    <button type="button" @onclick="Cancel">Close</button>
</div>

@code{

    private void Cancel()
    {
        ModalService.Close(ModalResult.Cancel());
    }
}