@model Notes2021Blazor.Shared.NoteFile

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>NoteFile</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OwnerId" class="col-form-label"></label>
                <select asp-for="OwnerId" class ="form-control" asp-items="ViewBag.OwnerId"></select>
            </div>
            <div class="form-group">
                <label asp-for="NoteFileName" class="col-form-label"></label>
                <input asp-for="NoteFileName" class="form-control" />
                <span asp-validation-for="NoteFileName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoteFileTitle" class="col-form-label"></label>
                <input asp-for="NoteFileTitle" class="form-control" />
                <span asp-validation-for="NoteFileTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastEdited" class="col-form-label"></label>
                <input asp-for="LastEdited" class="form-control" disabled value=@DateTime.Now />
                <span asp-validation-for="LastEdited" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
