@using Notes2021Blazor.Shared

    <p class="notesmenu">
        <a href="/notes/main/@Model.noteFile.Id">Listing</a>
        &nbsp;&nbsp;&nbsp;&nbsp;<a href="/notes/nextbase/@Model.noteFile.Id">Next Base</a>
    </p>

@code {
    [Parameter] public NoteDisplayIndexModel Model { get; set; }
}
