@using Notes2021Blazor.Shared

<p class="notesmenu">
    <a href="/">List NoteFiles</a>
    @if (@Model.myAccess.Write)
    {
        <span>&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="/notes/newbasenote/@Model.noteFile.Id">New Base Note</a>
    }
    @if (@Model.myAccess.ReadAccess)
    {
        <span>&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="/notes/export/@Model.noteFile.Id">eXport</a>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="/notes/ashtml/@Model.noteFile.Id" target="_blank">Html</a>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="/notes/ashtmlalt/@Model.noteFile.Id" target="_blank">html</a>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="/notes/mailfileashtml/@Model.noteFile.Id">mail</a>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="/notes/searchfromindex/@Model.noteFile.Id">Search</a>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="/notes/markmine/@Model.noteFile.Id">Mark Mine</a>
    }
    @if (@Model.isMarked)
    {
        <span>&nbsp;&nbsp;&nbsp;&nbsp;</span><a href="/notes/exportmarked/@Model.noteFile.Id">Output Marked</a>
    }
    &nbsp;&nbsp;&nbsp;&nbsp;<strong>Press Z for HELP.</strong>
    @if (@Model.myAccess.EditAccess)
    {
        <span class="keep-right"><a href="/notes/editaccess/@Model.noteFile.Id">Access Controls</a></span>
    }
</p>

@code {
    [Parameter] public NoteDisplayIndexModel Model { get; set; }
}