@inject IModalService ModalService
<div class="roundedgrayindexinput">
    <h3>Informational Message</h3>
    <p>
        @Message
    </p>
    <button type="button" @onclick="Cancel">Close</button>
</div>

@functions{

    [CascadingParameter] ModalParameters Parameters { get; set; }
    string Message { get; set; }

    protected override void OnInitialized()
    {
        Message = Parameters.Get<string>("Message");
    }

    private void Cancel()
    {
        ModalService.Close(ModalResult.Cancel());
    }
}
