@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IModalService Modal

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">&nbsp; <span class="oi oi-home" aria-hidden="true"></span> Notes 2021 </a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <LoginDisplayNav />
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="about">
                <span class="oi oi-badge" aria-hidden="true"></span> About
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="help">
                <span class="oi oi-question-mark" aria-hidden="true"></span> Help
            </NavLink>
        </li>
        <AuthorizeView Roles="User">
            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="options/tracker">
                        <span class="oi oi-wrench" aria-hidden="true"></span> Manage Recent
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="notes/sequence">
                        <span class="oi oi-arrow-right" aria-hidden="true"></span> Recent Notes
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="options/subscribe">
                        <span class="oi oi-envelope-closed" aria-hidden="true"></span> Subscriptions
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="options/timezone">
                        <span class="oi oi-clock" aria-hidden="true"></span> Time Zone
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="chat">
                        <span class="oi oi-chat" aria-hidden="true"></span> Chat
                    </NavLink>
                </li>
                @*<li class="nav-item px-3">
            <button type="button" class="link nav-link" @onclick="OnClick" aria-hidden="true"><span class="oi oi-clock link nav-link"></span>&nbsp; Time Zone</button>
        </li>*@
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Roles="Admin">
            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="admin/index">
                        <span class="oi oi-dashboard" aria-hidden="true"></span> Admin
                    </NavLink>
                </li>
            </Authorized>

        </AuthorizeView>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void OnClick()
    {
        var parameters = new ModalParameters();
        Modal.OnClose += HideDialog;
        Modal.Show<TimeZoneDlg>("", parameters);
    }

    void HideDialog(ModalResult modalResult)
    {
        Modal.OnClose -= HideDialog;
        StateHasChanged();
    }

}
