@page "/SampleImages"

<h2>Sample Images from NovaNET's Notes</h2>

<img src="images/NotesMain.png" />
<p>Main Notes Index</p>
<img src="images/NotesIndex.png" />
<p>Index of a Notesfile</p>
<img src="images/Note.png" />
<p>A Sample Note</p>
<img src="images/NotesHelp1.png" />
<p>Notesfile Index Help Page 1</p>
<img src="images/NotesHelp2.png" />
<p>Notesfile Index Help Page 2</p>
<img src="images/NotesHelp3.png" />
<p>Notesfile Index Help Page 3</p>
<img src="images/NoteHelp1.png" />
<p>Note Help Page 1</p>
<img src="images/NoteHelp2.png" />
<p>Note Help Page 2</p>
<img src="images/NoteHelp3.png" />
<p>Note Help Page 3 </p>
<img src="images/DirOptIndex.png" />
<p>Notesfile Director Options Index</p>
<img src="images/AccessOpts.png" />
<p>Notesfile Access Control Options Index</p>
<img src="images/AccesssEdit.png" />
<p>Editing an Acess List</p>
<img src="images/NotesSEQU.png" />
<p>Notes Sequence page</p>
<img src="images/NotesSEQUByPass.png" />
<p>Notes Sequence By Pass Options Page</p>
