@*/*--------------------------------------------------------------------------
    **
    **  Copyright (c) 2019, Dale Sinder
    **
    **  Name: Screens.cshtml
    **
    **  Description:
    **      Show PALTO/NovaNET screens
    **
    **  This program is free software: you can redistribute it and/or modify
    **  it under the terms of the GNU General Public License version 3 as
    **  published by the Free Software Foundation.
    **
    **  This program is distributed in the hope that it will be useful,
    **  but WITHOUT ANY WARRANTY; without even the implied warranty of
    **  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    **  GNU General Public License version 3 for more details.
    **
    **  You should have received a copy of the GNU General Public License
    **  version 3 along with this program in file "license-gpl-3.0.txt".
    **  If not, see <http://www.gnu.org/licenses/gpl-3.0.txt>.
    **
    **--------------------------------------------------------------------------
    */*@


@{
    ViewBag.Title = "Screens";
}

<h2>Screens with notes:</h2>

<h3>
    NovaNET Notes
</h3>

<p>Main Notes Index</p>

<img src="~/images/NotesMain.png" />

<p>Index of a Notesfile</p>

<img src="~/images/NotesIndex.png" />

<p>A Sample Note</p>

<img src="~/images/Note.png" />

<p>Notesfile Index Help Page 1. The next three images describe how note were navigated on NovaNET.</p>

<img src="~/images/NotesHelp1.png" />

<p>Notesfile Index Help Page 2</p>

<img src="~/images/NotesHelp2.png" />

<p>Notesfile Index Help Page 3</p>

<img src="~/images/NotesHelp3.png" />

<p>Note Help Page 1.  The next three images describe navigation while reading a note.</p>

<img src="~/images/NoteHelp1.png" />

<p>Note Help Page 2.</p>

<img src="~/images/NoteHelp2.png" />

<p>Note Help Page 3.  The big graphical summary of navigation/</p>

<img src="~/images/NoteHelp3.png" />

<p>Notesfile Director Options Index</p>

<img src="~/images/DirOptIndex.png" />

<p>Notesfile Access Control Options Index</p>

<img src="~/images/AccessOpts.png" />

<p>Editing an Acess List.  Controlling what rights users and sets of users have.</p>

<img src="~/images/AccesssEdit.png" />

<p>Notes Sequence page</p>

<img src="~/images/NotesSEQU.png" />

<p>Notes Sequence By Pass Options Page</p>

<img src="~/images/NotesSEQUByPass.png" />


<h3>PLATO Notes</h3>
<p>First was the "Press NEXT to begin" page.  Idle terminals would display this screen awaiting a user</p>

<img src="~/images/NextToBegin.png" />

<p>After NEXT (Return/Enter) is pressed the login process starts.  This was known as the<br />
     "Clock Page".  This is how it was in 1973  except the "CYBIS" has replaced "PLATO".</p>

<img src="~/images/Login1.png" />

<p>Next comes the "group" page.  Groups were originally known as courses. <br />
    They hold a collection of logins, usually associated with say a university course.</p>

<img src="~/images/Login2.png" />

<p>Finally a passord is required.  A radom number of X's are displayed for each keypress.</p>

<img src="~/images/Login3.png" />

<p>The next page depends on the type of user type the user is assigned.<br />
    These include "student", "instructor", "author", and "multiple". <br />
    Students were limited inn what "lesson" or program they could use under the control of<br />
    an "instructor."  We will not concern ourselves with "multiple".<br />
    "Author"s were take to the screen (a lesson really) from which they<br />
    could use any lesson/program/file on the system.</p>

<img src="~/images/Amode.png" />

<p>As a short cut on the "AUTHOR MODE" page pressing SHIFT-N would take the<br />
    author to the main notes index page.</p>

<img src="~/images/CNIndex.png" />

<p>A specific notes file could be directly entered from AUTHOR MODE by typing<br />
    its name.  Here for example we see he main index of "pad".</p>

<img src="~/images/PadIndex.png" />

<p>Below is shown a base or root note.  In this case number 49.</p>

<img src="~/images/BaseNote.png" />

<p>Next a Response to the base note.</p>

<img src="~/images/ResponseNote.png" />

<hr />
<p>I'm not going to talk about the original key bindings for Navigation.  They were redone on<br />
    NovaNET in about 1990 with a complete Notes rewrite.  We have looked at sample images above which<br />
    show the NovaNET Notes keybindings.</p>
<hr />
