@*/*--------------------------------------------------------------------------
    **
    **  Copyright (c) 2019, Dale Sinder
    **
    **  Name: ExportMarked.cshtml
    **
    **  Description:
    **      Collect data for export
    **
    **  This program is free software: you can redistribute it and/or modify
    **  it under the terms of the GNU General Public License version 3 as
    **  published by the Free Software Foundation.
    **
    **  This program is distributed in the hope that it will be useful,
    **  but WITHOUT ANY WARRANTY; without even the implied warranty of
    **  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    **  GNU General Public License version 3 for more details.
    **
    **  You should have received a copy of the GNU General Public License
    **  version 3 along with this program in file "license-gpl-3.0.txt".
    **  If not, see <http://www.gnu.org/licenses/gpl-3.0.txt>.
    **
    **--------------------------------------------------------------------------
    */*@

@model Notes2021.Models.ExportViewModel

@{
    ViewBag.Title = "Export";
}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-8">
        @if (User.IsInRole("User"))
        {
            <h3>Export a NoteFile</h3>
            <form asp-controller="Export" asp-action="ExportMarked" method="post" class="form-horizontal" role="form">
                @Html.HiddenFor(m => m.FileName)
                @Html.HiddenFor(m => m.directOutput)
                <div class="form-group">
                    <div class="ml-md-auto col-md-10">
                        <div class="checkbox">
                            <input asp-for="isHtml" />
                            <label asp-for="isHtml"></label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="ml-md-auto col-md-10">
                        <div class="checkbox">
                            <input asp-for="isCollapsible" />
                            <label asp-for="isCollapsible"></label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="ml-md-auto col-md-10">
                        @*<input type="submit" value="Submit" class="btn btn-primary" />*@
                        <button type="submit" class="btn btn-info btn-sm" tabindex="4">
                            <img src="~/icons/glyphicons-basic-546-cloud-download.svg" width="25" class="svgwhite"/> Export/Download
                        </button>
                    </div>
                </div>

            </form>
        }
    </div>
</div>
