@*/*--------------------------------------------------------------------------
    **
    **  Copyright (c) 2019, Dale Sinder
    **
    **  Name: Index.cshtml
    **
    **  Description:
    **      Collect Data for export
    **
    **  This program is free software: you can redistribute it and/or modify
    **  it under the terms of the GNU General Public License version 3 as
    **  published by the Free Software Foundation.
    **
    **  This program is distributed in the hope that it will be useful,
    **  but WITHOUT ANY WARRANTY; without even the implied warranty of
    **  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    **  GNU General Public License version 3 for more details.
    **
    **  You should have received a copy of the GNU General Public License
    **  version 3 along with this program in file "license-gpl-3.0.txt".
    **  If not, see <http://www.gnu.org/licenses/gpl-3.0.txt>.
    **
    **--------------------------------------------------------------------------
    */*@


@model Notes2021.Models.ExportViewModel

@{
    ViewBag.Title = "Export";
}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-8">
        @if (User.IsInRole("User"))
        {
            <h3>Export a NoteFile</h3>
            <form asp-controller="Export" asp-action="Index" method="post" class="form-horizontal" role="form">
                <div class="form-group">
                    <strong>
                        Enter a NoteFile Name to Export:<input asp-for="FileName" class="form-control short-input" autofocus /> or
                        @Html.DropDownList("AFiles", Model.AFiles, htmlAttributes: new { @class = "form-control short-input" }) or
                        @Html.DropDownList("ATitles", Model.ATitles, htmlAttributes: new { @class = "form-control short-input" })
                    </strong>
                    <script type="text/javascript">
                    var mytextbox = document.getElementById('FileName');
                    var mydropdown = document.getElementById('AFiles');
                    var mydropdown2 = document.getElementById('ATitles');

                    document.onfocus = function () { mytextbox.focus(); }

                    mydropdown.onchange = function () {
                    mytextbox.value = this.value;
                    mytextbox.focus();
                    this.form.submit();
                    }

                    mydropdown2.onchange = function () {
                        mytextbox.value = this.value;
                        mytextbox.focus();
                        this.form.submit();
                    }
                    </script>
                    <div class="form-group">
                        <div class="ml-md-auto col-md-10">
                            <div class="checkbox">
                                <input asp-for="isHtml" />
                                <label asp-for="isHtml"></label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="ml-md-auto col-md-10">
                            <div class="checkbox">
                                <input asp-for="isCollapsible" />
                                <label asp-for="isCollapsible"></label>
                            </div>
                        </div>
                    </div>
                    @*<div class="form-group">
                            <div class="ml-md-auto col-md-10">
                                <div class="checkbox">
                                    <input asp-for="directOutput" />
                                    <label asp-for="directOutput"></label>
                                </div>
                            </div>
                        </div>*@
                </div>
            </form>
        }
    </div>
</div>
