@*--------------------------------------------------------------------------
    **
    **  Copyright (c) 2020, Dale Sinder
    **
    **  Name: CreateNoteFile.razor
    **
    **  Description:
    **      Note File Creation Dialog
    **
    **  This program is free software: you can redistribute it and/or modify
    **  it under the terms of the GNU General Public License version 3 as
    **  published by the Free Software Foundation.
    **
    **  This program is distributed in the hope that it will be useful,
    **  but WITHOUT ANY WARRANTY; without even the implied warranty of
    **  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    **  GNU General Public License version 3 for more details.
    **
    **  You should have received a copy of the GNU General Public License
    **  version 3 along with this program in file "license-gpl-3.0.txt".
    **  If not, see <http: //www.gnu.org/licenses/gpl-3.0.txt>.
    **
    **--------------------------------------------------------------------------*@

@using Microsoft.AspNetCore.Components.Authorization
@using System.Net.Http
@using Notes2021Blazor.Shared
@inject HttpClient Http
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IModalService ModalService


@if (dummyFile == null)
{
    <p class="center"><em>Loading...</em></p>
}
else
{
    <AuthorizeView Roles="Admin">
        <Authorized Context="Other">
            <div class="roundedgrayindexinput modal-body">
                <h3>Create Note File:</h3>
                <EditForm id="createform" Model="@dummyFile" OnValidSubmit="HandleValidSubmit">
                    <DataAnnotationsValidator />
                    <ValidationSummary />
                    <strong>Enter a NoteFile Name:</strong>
                    <InputText id="name" @bind-Value="dummyFile.NoteFileName" class="form-control short-input keep-center" />
                    <strong>Enter a NoteFile Title:</strong>
                    <InputText id="title" @bind-Value="dummyFile.NoteFileTitle" class="form-control short-input keep-center" />
                    <button type="submit">Submit</button> <button type="button" @onclick="Cancel">Cancel</button>
                </EditForm>
            </div>
        </Authorized>
        <NotAuthorized>
            Access denied.
        </NotAuthorized>
    </AuthorizeView>
}
@code {

    public CreateFileModel dummyFile = new CreateFileModel();

    int FileId { get; set; }

    [CascadingParameter] ModalParameters Parameters { get; set; }
    protected override void OnInitialized()
    {
        FileId = Parameters.Get<int>("FileId");
    }

    private async Task HandleValidSubmit()
    {

        CreateFileModel crm = new CreateFileModel { NoteFileName = dummyFile.NoteFileName, NoteFileTitle = dummyFile.NoteFileTitle };

        await Http.PostJsonAsync("api/NoteFileAdmin", crm);

        ModalService.Close(ModalResult.Ok($"Create was submitted successfully."));
    }

    private void Cancel()
    {
        ModalService.Close(ModalResult.Cancel());
    }

}
