@*--------------------------------------------------------------------------
    **
    **  Copyright (c) 2020, Dale Sinder
    **
    **  Name: CreateNoteFile.razor
    **
    **  Description:
    **      Note File Creation Dialog
    **
    **  This program is free software: you can redistribute it and/or modify
    **  it under the terms of the GNU General Public License version 3 as
    **  published by the Free Software Foundation.
    **
    **  This program is distributed in the hope that it will be useful,
    **  but WITHOUT ANY WARRANTY; without even the implied warranty of
    **  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    **  GNU General Public License version 3 for more details.
    **
    **  You should have received a copy of the GNU General Public License
    **  version 3 along with this program in file "license-gpl-3.0.txt".
    **  If not, see <http: //www.gnu.org/licenses/gpl-3.0.txt>.
    **
    **--------------------------------------------------------------------------*@

@using Microsoft.AspNetCore.Components.Authorization
@using System.Net.Http
@using Notes2021Blazor.Shared
@inject HttpClient Http
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IModalService ModalService


@if (dummyFile == null)
{
    <p class="center"><em>Loading...</em></p>
}
else
{
    <AuthorizeView Roles="Admin">
        <Authorized Context="Other">
            <div>
                <div class="roundedgrayindexinput">
                    <h3>Edit Note File:</h3>

                    <EditForm id="createform" Model="@dummyFile" OnValidSubmit="HandleValidSubmit">
                        <DataAnnotationsValidator />
                        <ValidationSummary />
                        <strong>Enter a NoteFile Name:</strong>
                        <InputText id="name" @bind-Value="dummyFile.NoteFileName" class="form-control short-input keep-center" />
                        <strong>Enter a NoteFile Title:</strong>
                        <InputText id="title" @bind-Value="dummyFile.NoteFileTitle" class="form-control short-input keep-center" />
                        <button type="submit">Submit</button>
                    </EditForm>
                </div>
            </div>
        </Authorized>
        <NotAuthorized>
            Access denied.
        </NotAuthorized>
    </AuthorizeView>
}
@code {

    public CreateFileModel dummyFile = new CreateFileModel();

    int FileId { get; set; }
    string fileName { get; set; }
    string fileTitle { get; set; }
    string owner { get; set; }
    DateTime lastEdited { get; set; }
    int numArchives { get; set; }

    [CascadingParameter] ModalParameters Parameters { get; set; }
    protected override void OnInitialized()
    {
        FileId = Parameters.Get<int>("FileId");
        fileName = Parameters.Get<string>("FileName");
        fileTitle = Parameters.Get<string>("FileTitle");
        lastEdited = Parameters.Get<DateTime>("LastEdited");
        owner = Parameters.Get<string>("Owner");
        numArchives = Parameters.Get<int>("NumberArchives");

        dummyFile.NoteFileName = fileName;
        dummyFile.NoteFileTitle = fileTitle;
    }

    private async Task HandleValidSubmit()
    {
        NoteFile nf = new NoteFile
        {
            Id = FileId,
            NumberArchives = numArchives,
            OwnerId = owner,
            NoteFileName = dummyFile.NoteFileName,
            NoteFileTitle = dummyFile.NoteFileTitle,
            LastEdited = lastEdited
        };

        await Http.PutJsonAsync("api/NoteFileAdmin", nf);

        ModalService.Close(ModalResult.Ok($"Create was submitted successfully."));
    }
}