@page "/admin/index"
@using Microsoft.AspNetCore.Components.Authorization

<h3>Admin Index</h3>

<AuthorizeView Roles="Admin">
    <Authorized>
        <div class="row bolderface">
            <div class="col-md-1"></div>
            <div class="col-md-3 roundedgray">
                <ul>
                    <li><a href="Admin/NoteFiles">NoteFile Manager</a></li>
                    @*<li><a href="Admin/Role">Role Manager</a></li>
                    <li><a href="Admin/User">User Manager</a></li>*@
                    <li><a href="Admin/LinkedFiles">Linked Files Manager</a></li>
                    <li><a href="Admin/HomePageMessages">Home Page Message</a></li>
                    <li><a href="Admin/SystemMessage" target="_blank">Send System Message</a></li>
                </ul>
            </div>
            @*<div class="col-md-3 roundedgray">
                <ul>
                    <li><a href="Admin/SQLFiles" title="Find images in Notes and upload new ones" target="_blank">Image File Database</a></li>
                    <li><a href="Admin/DataSpy">Raw Data Viewer <strong>(Audited)</strong></a></li>
                    <li><a href="https://portal.azure.com/#" target="_blank">Azure Portal</a></li>
                </ul>
            </div>*@
        </div>
    </Authorized>
    <NotAuthorized>
        You do not have access!
    </NotAuthorized>
</AuthorizeView>

@code {

}
