@model Notes2021Blazor.Shared.NoteContent

@{
    ViewData["Title"] = "EditContent";
}

<h1>EditContent</h1>

<h4>NoteContent</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditContent">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="NoteHeaderId" />
            <div class="form-group">
                <label asp-for="NoteBody" ></label>
                @*<input asp-for="NoteBody" class="form-control" />*@
                @Html.TextAreaFor(m => m.NoteBody, 20, 80, null)
                <span asp-validation-for="NoteBody" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DirectorMessage" ></label>
                <input asp-for="DirectorMessage" class="form-control" />
                <span asp-validation-for="DirectorMessage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
